{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/MORE.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic" rel="stylesheet" />
    <title>Document</title>
</head>
{% include 'include/header.html' %}

<div style="padding: 100px 0px 0px 100px">
    <p style="padding-bottom: 20px; font-size: 17px;">имя продрвца: <em>{{ salesman.name }}</em></p>
    <p style="padding-bottom: 20px; font-size: 17px;">возрвст продовца: <em>{{ salesman.age }}</em> лет</p>
    <p style="padding-bottom: 20px; font-size: 17px;">описани продовца: <em>{{ salesman.description }}</em></p>
    <div style="display: flex">
        <p style="padding-bottom: 20px; font-size: 17px;">фотография продовца:</p>
        <div style="padding-left: 100px;">
            <img src="{{ salesman.image.url }}" style="border: 2px solid black" alt="not image">
        </div>
    </div>
    <p>продовал: {% for model in salesman.salesman.all %}{{ model.title }},{% endfor %}</p>
</div>